*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.w{
	width: 1440px;
	margin: auto;
	/*overflow: hidden;*/
	/*background-color: pink;*/
}
/*html { 
	overflow-x: hidden; overflow-y: auto; 
}*/
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: "";
    height: 0
}

.clearfix {
    * zoom: 1
}
li{
	list-style: none;
}


@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?9fhn24');
	src:  url('../fonts/icomoon.eot?9fhn24#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?9fhn24') format('truetype'),
	url('../fonts/icomoon.woff?9fhn24') format('woff'),
	url('../fonts/icomoon.svg?9fhn24#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.subcontent{
	position: relative;
}
/*顶部开始*/
.header{
	width: 100%;
	line-height: 60px;
	height: 60px;
	color:  #333333 ;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}


.header .w li{
	color: #FFFFFF;	
	line-height: 60px;
	height: 60px;
	width: 120px;
	float: right;
}

.header .w li:first-child{
    float: left;
    margin-left: 100px;
    font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    width: 160px;
}

.header .w li:nth-child(2){
	margin-right: 60px;
}
/*顶部结束*/


/*轮播图*/
.banner{
	width: 100%;
	height: 650px;
	position: relative;
}

.banner .current{
	background-color: rgb(255,255,255);
}

.banner ul , .banner li{
	width: 100%;
	height: 100%;
}
.banner ol{
	height: 15px;
	position: absolute;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
}
.banner ol li{
	margin: 4px 5px;
	line-height: 15px;
	width: 15px;
	font-size: 13px;
	color: #333333;
	text-align: center;
	border-radius: 50%;
	float: left;
	list-style: none;
	background: rgba(255,255,255,0.4);
}


.banner ul li{
	display: none;
}

.banner ul li:first-child img{
	width:100%; 
	height:650px;
}

.banner ul li:nth-child(2){
	background-color: rgb(210,72,38);
}
.banner ul li .target{
	/*background-color: red;*/
	position: absolute;
	bottom: 200px;
	left: 50%;
	transform: translate(-50%);
	width: 1000px;
	height: 200px;
	text-align: center;
}

.target p{
	width:1000px;
	height:45px;
	position: relative;
	left: 50%;
	transform: translate(-45%);
	top: 30%;
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 60px;
	color: #FFFFFF;
}


.target a{
	display: block;
	width: 160px;
	height: 40px;
	color: rgb(231,90,71);
	background-color: #fff;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	position: relative;
	left: 5%;
	bottom: -67%;
	font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
	font-weight: 700;
	font-size: 14px;
}
.target span{
	width:1200px;
	height:60px;
	position: absolute;
	top: 170px;
	left: 270px;
	transform:translate(-30%);
	color:rgb(250, 255, 239);
	font-size: 20px;
}

.target:nth-child(2) p{
	left: 50px;
}

.banner ul li:nth-child(2) .target span{
	left: 47px;
	top: 100px;
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	color: #F2F2F2;
}

.banner ul li:nth-child(2) p:first-child{
	font-size: 24px;
	color: #FFBF9B;
	font-family: 'Bauhaus 93 Normal', 'Bauhaus 93';
	font-weight: 400;
	font-style: normal;
}
.banner ul li:nth-child(2) p:nth-child(2){
	position: relative;
	left: 41%;
	top: 30%;
	font-size: 40px;/*24px*/
}

.banner ul li:nth-child(2) img{
	width:650px; 
	height:650px;
	float: right;
	margin-right: 100px;
}

.banner ul li:nth-child(3) img{
	height: 650px;
	width: 100%;
	overflow: hidden;
}


.banner .active{
	display: block;
}

.title{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 28px;
	color: #000000;
}


/*愿景和使命*/
.mession{
	height: 450px;
	width: 100%;
	background-color: rgba(242, 242, 242, 1);
	position: absolute;
	left: 0px;
	top:650px;
}
.mession .w div:first-child{
	margin: 0 auto;
	text-align: center;
	height: 120px;
	line-height: 120px;
}
.mession .w div:nth-child(2){
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #666666;
	text-align: center;
	line-height: 26px;
	width: 1100px;
	height: 60px;
	margin: 0 auto;
}
.mession .content{
	height: 270px;
	
}
.mession ul{
	position: absolute;
	left: 50%;
	width: 1000px;
	transform: translateX(-50%);
	top: 180px;
	height: 270px;
}
.mession ul p{
	font-family: '微軟正黑體 Bold', '微軟正黑體';
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	text-align: center;
	margin-bottom: 15px;
}
.mession ul li span{
	text-align: center;
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	color: #666666;
	line-height: 26px;
	font-size: 14px;
}

.mession ul li{
	width: 310px;
	height: 270px;
	float: left;
	text-align: center;
}
.mession ul li:nth-child(2){
	margin: 0 35px;
}
.mession .img{
	text-align: right;
}
/*使命结束 end*/


/*产品和服务开始*/
.service{
	height: 620px;
	position: absolute;
	top:1130px;
	width: 100%;
}
.service .w .title{
	width: 100%;
	height: 120px;
	line-height: 120px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 28px;
	color: #000000;
}
.service .w .tab{
	width: 1200px;
	height: 500px;
	position: relative;
	top: 0;
	margin: 0 auto;
	background-color: rgba(242, 242, 242, 1);
	/*background-color: red;*/
}
.tab .tab-hd{
	height: 500px;
	width: 300px;
	position: absolute;
	left: 0;
}
.tab .tab-bd{
	height: 500px;
	width: 900px;
	position: absolute;
	top: 0;
	left: 300px;
}

.service .w .tab-hd a{
	display: inline-block;
	height: 125px;
	width: 300px;
	background-color: rgba(153, 153, 153, 1);
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 123px;
	text-decoration: none;
	cursor: pointer;
}

.service .w .tab-hd a img{
	width: 50px;
	height: 50px;
}
.service .w .tab-hd  .im{
	height: 60px;
	width: 100%;
	line-height: 60px;
	position: relative;
}
.tab-hd  .im img{
	top: 20px;
	left: 120px;
	position: absolute;
}

.tab-hd  .p{
	height: 63px;
	width: 100%;
	line-height: 63px;
	text-align: center;
}

.service .tab-bd>li{
	height: 500px;
	width: 900px;
	float: left;
	background-color: rgba(242, 242, 242, 1);
	position: absolute;
}
.service .tab .tab-hd .active{
	background-color: rgb(208,78,58);
}
.service .tab-bd .selected{
	display: block;
}
.service .tab-bd ul{
	display: none;
	background-color: rgba(242, 242, 242, 1);
}
.tab .tab-bd img{
	width: 180px;
	height: 180px;
}

.tab-bd .ps{
	font-family: '微軟正黑體';
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 28px;
	text-align: left;
	margin: 30px 50px;
}

.tab-bd .im img{
	width: 622px;
	height: 186px;
}

.service .nothing img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.service .tab-bd .ps>p:first-child{
	line-height: 22px;
	padding-left: 15px;
	border-left: 4px solid rgb(153,153,153);
}

.service .tab-bd .ps>p:nth-child(2){
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	color: #666666;
	text-align: left;
	line-height: 20px;
	padding-left: 15px;
	margin-top: 15px;
	font-size: 14px;
}

.service .tab-bd .im>p:first-child{
	margin-left: 50px;
	padding-left: 15px;
	border-left: 4px solid rgb(153,153,153);
	line-height: 22px;
}

.service .tab-bd .im>ul{
	position: absolute;
	top: 180px;
	left: 70px;
}
.service .im>ul>li{
	float: left;
	margin: 0 20px 20px 0;
	background-color: rgb(255,255,255);
	height: 125px;
	width: 390px;
	border-left: 5px solid rgb(252,133,101);
}
.service .im .li1{
	position: relative;
	background-color: red;
}

.service .im .li1 .ileft{
	position: absolute;
	left: 10px;
	top: 30px;
}

.service .im .li1 .iright{
	position: absolute;
	left: 85px;
	top: 15px;
}
.service .im .li1 .iright p{
	margin-bottom: 10px;
}

.service .im .ileft>img{
	width: 70px;
	height: 70px;
}

.service .im .iright{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	text-align: left;
	font-size: 14px;
	color: #333;
}

.service .im .iright{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	text-align: left;
	font-size: 14px;
	color: #333;
}
.service .im .iright span{
	color: #666;
}

/*解决方案开始*/
.solution{
	background-color: rgba(242, 242, 242, 1);
	position: absolute;
	top: 1800px;
	left: 0;
	height: 2520px;
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
	text-align: center;
	width: 100%;
}

.solution a{
	text-decoration: none;
}

.solution .title{
	height: 120px;
	width: 100%;
	line-height: 120px;
	position: relative;
	text-align: center;
}
.solution .w>div:nth-child(2){
	width: 1200px;
	height: 1500px;
	margin: 0 auto;
}
.solution .w>div:nth-child(2)>p{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #666666;
	text-align: center;
	line-height: 26px;
	margin-bottom: 40px;
}

.solution .sban{
	position: relative;
	height: 550px;
	margin: 0 auto;
	z-index: 2;
	/*background: url(images/home/u110.jpg) no-repeat;*/
}

.solution .sban .li1{
	width: 350px;
	height: 50px;
	position: absolute;
	top: 165px;
	left: 50px;
}
.solution .sban>p{
	font-family: '微軟正黑體 Bold', '微軟正黑體';
	font-weight: 700;
	font-style: normal;
	font-size: 48px;
	color: #FFFFFF;
	position: absolute;
	top: 80px;
	left: 50px;
}
.solution .sban .li1>li{
	float: left;
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: #E4E4E4;
	/*color: red;*/
	line-height: 28px;
}
.solution .sban .li2{
	position: absolute;
	top: 280px;
	left: 50px;
	width: 330px;
	height: 50px;
	z-index: -1;
}

.solution  .shad{
	width: 1200px;
	height: 550px;
	position: absolute;
	top: 212px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(51, 102, 204, 0.4);
	opacity: 0.8;
	z-index: 1;
}

.solution .sban .li2>li{
	float: left;
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #F2F2F2;
	line-height: 40px;
	/*color:red;*/
}

.solution .sban .known{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	position: absolute;
	bottom: 80px;
	left: 50px;
}
.solution .sban .known a{
	color: #E4E4E4;
	cursor: pointer;
	/*text-decoration: none;*/
}


.solution .zline{
	position: relative;
	height: 310px;
	margin: 20px auto;
}

.zline div{
	float: left;
}

.zline p{
	font-family: '微軟正黑體 Bold', '微軟正黑體';
	font-weight: 700;
	font-style: normal;
	font-size: 42px;
	color: #FFFFFF;
	position: absolute;
	left: 40px;
	top: 40px;
}
.zline .zhihui>p{
	left: 0;
}


.zline span{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: #E4E4E4;
	line-height: 26px;
	position: absolute;
	left: 40px;
	top: 120px;
}

.zline a{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #E4E4E4;
	position: absolute;
	bottom: 40px;
	left: 40px;
}

.zline .zhihui>a{
	left: 0;
	bottom: 30px;
	width: 78px;
	height: 16px;
}
.zline .renjun{
	margin-right: 20px;
	width: 590px;
	height: 310px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 8;
}
.zline .leftshad{
	width: 590px;
	height: 310px;
	position: absolute;
	background-color: rgba(51, 102, 204, 0.4);
	top: 0;
	left: 0;
	z-index: 6;
}
.zline .renjun1{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
.zline .zhihui{
	width: 590px;
	height: 310px;
	position: relative;
	top: 0;
	left: 50px;
	z-index: 8;
}

.zline .rightshad{
	width: 590px;
	height: 310px;
	position: absolute;
	background-color: rgba(51, 102, 204, 0.4);
	top: 0;
	left: 610px;
	z-index: 7;
}

.zline .zhihui1{
	width: 590px;
	height: 310px;
	position: absolute;
	top: 0;
	left: 610px;
	z-index: 6;
}


.zline .yanglao{
	width: 167px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 120px;
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: #E4E4E4;
}

.solution .zline .yanglao li{
	float: left;
}

.solution .fline{
	position: relative;
	height: 227px;
	margin: 0 auto;
}

.solution .sline{
	position: relative;
	height: 227px;
	margin: 0 auto;	
}

.solution .fline div{
	float: left;
}
.solution .fline1{
	height: 550px;
	margin: 20px 0;
	position: relative;
}

.solution .fline1-img{
	position: absolute;
	height: 550px;
	width: 1200px;
	background-color: rgba(51, 102, 204, 0.4);
	opacity: 0.8;
	z-index: 1;
}

.solution .fline1-contnet{
	position: absolute;
	z-index: 2;
	height: 550px;
	width: 1200px;
}

.fline1 p{
	font-family: '微軟正黑體 Bold', '微軟正黑體';
	font-weight: 700;
	font-style: normal;
	font-size: 48px;
	color: #FFFFFF;
	position: absolute;
	top: 70px;
	left: 50px;
}
.fline1 ul{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: #E4E4E4;
	line-height: 30px;
	position: absolute;
	top: 140px;
	left: 50px;
}

.fline1 ul li{
	line-height: 30px;
	display: block;
	text-align: left;
}

.fline1 a{
	position: absolute;
	bottom: 40px;
	left: 50px;
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: #E4E4E4;
	cursor: pointer;
}

.solution .fline2{
	position: relative;
	height: 310px;
	margin: 20px 0;
}
.solution .fline2 p{
	font-family: '微軟正黑體 Bold', '微軟正黑體';
	font-weight: 700;
	font-style: normal;
	font-size: 42px;
	color: #FFFFFF;
	position: absolute;
	top: 40px;
	left: 40px;
}

.solution .fline2 div:nth-child(2)>p{
	left: 667px;
}

.solution .fline2 span{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: #E4E4E4;
	position: absolute;
	top: 100px;
	left: 40px;
}
.solution .fline2 div:nth-child(2)>span{
	left: 667px;
}
.solution .fline2 a{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #E4E4E4;
	position: absolute;
	bottom: 40px;
	left: 40px;
}

.solution .fline2 div:nth-child(2)>a{
	left: 667px;
}

.solution .fline2 div{
	float: left;
}
.solution .fline2 div:first-child{
	margin-right: 20px;
}
.solution .fline div:nth-child(2){
	margin: 0 21px;
}
.solution .sline div:nth-child(2){
	margin: 0 21px;
}
.fline div:first-child>p{
	position: absolute;
	left: 16.5%;
	transform: translate(-50%);
	top:160px;
	color: #fff;
	font-size: 26px;
	font-weight: 700;
}
.fline div:nth-child(2)>p{
	position: absolute;
	left: 51%;
	transform: translate(-50%);
	top:160px;
	color: #fff;
	font-size: 26px;
	font-weight: 700;
}
.fline div:nth-child(3)>p{
	position: absolute;
	left: 84.5%;
	transform: translate(-50%);
	top:160px;
	color: #fff;
	font-size: 26px;
	font-weight: 700;
}
.sline div:first-child>p{
	position: absolute;
	left: 16.5%;
	transform: translate(-50%);
	top:160px;
	color: #fff;
	font-size: 26px;
	font-weight: 700;
}
.sline div:nth-child(2)>p{
	position: absolute;
	left: 51%;
	transform: translate(-50%);
	top:160px;
	color: #fff;
	font-size: 26px;
	font-weight: 700;
}
.sline div:nth-child(3)>p{
	position: absolute;
	left: 84.5%;
	transform: translate(-50%);
	top:160px;
	color: #fff;
	font-size: 26px;
	font-weight: 700;
}

.solution .sline div{
	float: left;
}
/*解决方案结束*/


/*合作伙伴开始*/
.parters{
	position: absolute;
	top: 4323px;
	left: 0; 
	height: 405px;
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
	width: 100%;
}
.parters .w > div:first-child{
	height: 120px;
	width: 100%;
	text-align: center;
	line-height: 120px;
}

.parters .w > div:nth-child(2){
	text-align: center;
	margin: -10px 0 30px 0;
}
.parters span{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #000000;
}

.parters .fline, .parters .sline{
	height: 100px;
	width: 1200px;
	margin:0 auto;
	position: relative;
}
.parters .fline div, .parters .sline div{
	float: left;
	position: absolute;
	top: 20px;
	left: 100px;
}

.parters .fline div:nth-child(2){
	left: 320px;
	top: 30px;
}
.parters .fline div:nth-child(3){
	left: 600px;
}
.parters .fline div:nth-child(4){
	left: 710px;
	top: -7px;
}
.parters .fline div:nth-child(4) img{
	position: absolute;
	top: 15px;
	left: 20px;
}
.parters .fline div:nth-child(4) img:last-child{
	top: 55px;
	left: 30px;
}
.parters .fline div:nth-child(5){
	left: 1020px;

}

.parters .sline div:first-child{
	left: 300px;
}

.parters .sline div:nth-child(2){
	top: 30px;
	left: 570px;
}
.parters .sline div:nth-child(3){
	top: 10px;
	left: 900px;
}
/*合作伙伴结束*/


/*联系我们开始*/
.contact{
	background-color:rgba(242, 242, 242, 1);
	height: 429px;
	position: absolute;
	top: 4730px;
	left: 0;
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
	width: 100%;
}
.contact .title{
	height: 80px;
	line-height: 80px;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translate(-50%);
}
.contact .cleft{
	position: absolute;
	right: 100px;
	top: 100px;
}
.contact .cright{
	position: absolute;
	left: 200px;
	top: 100px;
}

.contact .cright li{
	float: left;
}

.contact .cright li:nth-child(2){
	position: absolute;
	top: 70px;
	left: 400px;
	white-space:nowrap;
}
.contact .cright li:nth-child(2) > p:nth-child(2){
	position: absolute;
	top: 25px;
	left: 20px;
}
.contact .cright li:nth-child(3){
	position: absolute;
	top: 140px;
	left: 400px;
	white-space:nowrap;
}

.contact .cright li:nth-child(4){
	position: absolute;
	top: 250px;
	left: 0;
	white-space:nowrap;
}

.contact .cright li:nth-child(3) > p:nth-child(2){
	position: absolute;
	top: 25px;
	left: 20px;
}
.cright  h2{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	text-align: left;
	line-height: 24px;
}
.cright  p{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	color: #999999;
	line-height: 28px;
	font-size: 14px;
}
/*联系我们结束*/


/*疑问解答开始*/
.que{
	background-color: rgba(210, 71, 38, 1);
	height: 130px;
	position: absolute;
	top: 5159px;
	left: 0;
	line-height: 146px;
	width: 100%;
}

.que span{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	line-height: 130px;
}
.que .content{
	height: 130px;
	text-align: center;
	background-color: rgba(210, 71, 38, 1);
}
.que .content div{
	height: 50px;
	width: 150px;
	background-color: red;
	line-height: 50px;
	text-align: center;
	border-radius: 35px;
	position: absolute;
	top: 50px;
	right: 100px;
	background-color: rgba(255,255,255,1);
}
.que .content  a{
	display: inline-block;
	font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	text-decoration: none;
	color: rgba(210, 71, 38, 0.968627450980392);
}


/*疑问解答结束*/
.about{
	background-color: rgba(54, 54, 54, 1);
	height: 320px;
	color: #C9C9C9;
	position: absolute;
	top: 5289px;
	left: 0;
	width: 100%;
}
/*.about .aleft{
	margin:50px 0 0 150px; 
	height: 200px;
	
}*/
.about .aleft{
	position: absolute;
	top: 30px;
	left: 0;
	height: 200px;
	width: 600px;
}
.about .aleft .br{
	position: absolute;
	top: 30px;
	left: 400px;
}
.about .aleft .info p{
	position: absolute;
	top: 30px;
	left: 0;
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #CCCCCC;
}
.about .aleft .info input{
	position: absolute;
	top: 75px;
	height: 40px;
	width: 220px;
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	text-decoration: none;
	color: #999999;
	text-align: left;
	border-color: transparent;
	outline-style: none;
	padding-left: 10px;
}
.about .aleft .bt{
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: rgba(210, 71, 38, 1);
	position: absolute;
	left: 240px;
	top: 75px;
}
.about .aleft .concern{
	position: absolute;
	top: 165px;
	left: 0;
}
.about .aleft .bt span{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
}
.about .aleft .bt div{
	float: left;
	margin-right:6px; 
}
.about .aright{
	position: absolute;
	top: 30px;
	right: 0;

}

.about .aright li{
	float: left;
	margin: 30px 50px;
}
.about .aright li:first-child{
	margin-left: 80px;
}
.about .aright li:last-child{
	margin-right: 10px;
}
.about .aright h2{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	margin-bottom: 20px;
}
.about .aright a{
	text-decoration: none;
}
.about .aright p{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	color: #CCCCCC;
	text-align: left;
	line-height: 28px;
}

.about .abottom{
	width: 1300px;
	margin: 0 auto;
	border-top: 1px solid #fff;
	position: absolute;
	bottom: 20px;
	left: 0;
	font-size: 12px;
	padding-top: 10px;
}
.about .subcontent{
	width: 1300px;
	height: 320px;
	top: 0;
	left: 0;
	margin: 0 auto;
}

.about .abottom a{
	text-decoration: none;
	color: #fff;
	float: right;
	margin-right: 20px;
	font-size: 12px;
}